.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid royalblue;
  padding: 10px;
}

.content-img {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

img {
  width: 40px;
  height: 40px;
  background-color: coral;
  padding: 5px;
  border-radius: 30%;
  object-fit: fill;
}

.content-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px coral solid;
  padding: 10px;
  border-radius: 50%;
}
